[2022-10-11 12:01] BatoolMM opened #1 "Outreachy Winter 2022: Applicants tasks/contributions: Creating/planning MOOCs"
## 🎊 Welcome Outreachy 2022 Contributors! We're excited that you're here 🎉

Outreachy provides paid remote, three-month internships to support diversity in Free and Open Source Software (FOSS). For more information about what Outreachy is, follow [this link](https://www.outreachy.org/).

**Outreachy internships are:**

💵 Paid - $7,000 USD total internship stipend

🌍 Remote - both interns and mento

[2022-10-11 12:32] ladyami commented on #1
I am working on task 4

[2022-10-11 12:46] ladyami commented on #1
Thank you so much

[2022-10-11 14:34] BatoolMM commented on #1
Multiple PRs are allowed for task 4. We also recommend that multiple people collaborate together!

[2022-10-11 15:15] ladyami commented on #1
@vitorvictoria let's wait for @okerekechinweotito

[2022-10-11 16:05] sandygudie commented on #1
Hi Team, I am available to collaborate on this task.

[2022-10-11 16:50] Teslimsama commented on #1
I would also like to join

[2022-10-11 16:51] Teslimsama commented on #1
I would also like to join @ladyami

[2022-10-11 17:10] Kemmie001 commented on #1
I would also like to collaborate on task 4 @ladyami

[2022-10-11 17:44] sandygudie opened #2 "OSCSA MOOCs Platform"
**Problem Statement**
Open Science Community would like to develop Massive Open Online Courses (MOOCs), which are free online courses available for anyone to enroll in. We have developed our own materials and will also reuse materials from Open Life Sciences and Turing Way. In order to do that, we need to develop a platform where a participant can log in, and view videos and written materials as l

[2022-10-11 17:57] sandygudie commented on #2
**Suggestions**
Frontend Development: ReactJS
Backend:
  - Firebase for login authentication(Google)  or
  -  MongoDB for Database(UserAPI, etc) ;
  -  We could use Cloudinary to store videos and lesson materials

[2022-10-11 18:10] ladyami commented on #1
@sandygudie  I don't understand your comment

[2022-10-11 18:10] Dhei-vid commented on #1
I would like to contribute to this task too.

[2022-10-11 18:11] ladyami commented on #2
but i am already on this task i have created issue

[2022-10-11 18:14] BatoolMM commented on #2
@sandygudie and @sandygudie, both of you can create a proposal - we allow multiple submissions for this task.

[2022-10-11 18:16] sandygudie commented on #1
how @ladyami  the task is open for multiple people to collaborate on it

[2022-10-11 18:19] safa-ismail commented on #2
Hi .. i have no knowledge of react js. Can I work on the html and css part ??

[2022-10-11 18:35] Dhei-vid commented on #2
I have experience working with React JS.

[2022-10-11 18:49] Teslimsama commented on #2
I only have experience in html,css,PHP,js

[2022-10-11 19:19] Teslimsama commented on #1
I too wish to join I have  experience in PHP MySQL CSS js html

[2022-10-11 20:45] RealRichi3 commented on #1
@sandygudie i am up for collaboration, i am proficient with NodeJS and MongoDB

[2022-10-12 02:21] ORIYOMI289 commented on #1
@RealRichi3 I use the same technology as you, how do we proceed

[2022-10-12 02:33] okerekechinweotito commented on #1
@ladyami  Hello , you can go ahead and collaborate with @victorvictoria-maker . Thanks

[2022-10-12 03:41] ORIYOMI289 commented on #2
@sandygudie can we have access to the mongodb database and cloudinary, to be used for the project ?

[2022-10-12 03:51] ORIYOMI289 opened #3 "backend API"
-  user log In and log out
- create, update and delete video API
- user access to videos

[2022-10-12 03:53] ORIYOMI289 commented on #3
I will be working on this issue, using nodejs and mongodb.

don't you think we need an admin that can create, update and delete videos on the platform ?

[2022-10-12 04:14] Teslimsama opened #4 "Video search feature"
<h1>I would like take on this issue using PHP MySQL</h1>

[2022-10-12 04:37] AminMusah commented on #2
hi @sandygudie I have experience with React and firebase. i am interested in contributing to this project.

[2022-10-12 05:50] sandygudie commented on #2
Hello Team, thank you for the interest to collaborate in this tasks.

Tha project will be broken down into smaller tasks so that everyone can contribute.
Since it’s a demo project we will use a private account for tools needed (cloudinary, MongoDB etc)
Design- We will need a design template for this project.
Aside what I suggested ,feel free to highlight alternative approach to it.

Regrading coll

[2022-10-12 06:39] safa-ismail commented on #2
Hi team, i would like to take the initiative for designing and @BatoolMM  May i know how many pages does the demo need? Login page, landing page. Do we need more ?

[2022-10-12 06:50] sandygudie commented on #2
Thank you
Login page and Dashboard pages
We may not need a landing page for now

[2022-10-12 06:53] sandygudie commented on #1
@RealRichi3 and @ORIYOMI289
The conversation is going on here https://github.com/Open-Science-Community-Saudi-Arabia/MOOCs/issues/2
Your contribution is welcome

[2022-10-12 07:12] okerekechinweotito commented on #2
@sandygudie  Have you created the slack channel ?.  Lets fix a meeting later today so we can decide on the features the site will carry. And then break down the task into multiple issues.

[2022-10-12 07:28] Dhei-vid commented on #2
I agree with @okerekechinweotito, we should create either slack or discord channel so everyone is up to speed.

[2022-10-12 07:43] ladyami commented on #2
@Dhei-vid slack is okay the project should be break down

[2022-10-12 08:19] Dhei-vid commented on #2
I will go ahead and create a slack channel, then post the link here.

[2022-10-12 08:19] sandygudie commented on #2
Hello Team, I totally agree with the slack workspace, I am hoping we could have an official OSCSA Slack Workspace rather than a private workspace,  @BatoolMM hoping to hear your suggest on this .

[2022-10-12 08:20] sandygudie commented on #2
@Dhei-vid I already created one but let's hear from @BatoolMM

[2022-10-12 08:23] Dhei-vid commented on #2
Heres the link for the slack channel -  https://join.slack.com/t/slack-qni4624/shared_invite/zt-1hmp78eae-jkh8wKPB3M_A52IyBqWhDA

[2022-10-12 08:29] okerekechinweotito commented on #2
@BatoolMM  pls what do you think about the suggestions above

[2022-10-12 10:16] Kemmie001 commented on #2
@sandygudie I can work with ReactJs we can split different pages and features into issues so everyone can contribute and be up to speed

[2022-10-12 10:34] Kemmie001 commented on #2
This is a list of all the pages we will need then we can start breaking them into chunks and creating issues out of them and their features.

- Landing Page
- Login
- Signup
- User dashboard
- Course page
- Admin dashboard
- Upload Course Page
- Edit Course Page
- View Course Page

We can add more. We will need people to handle UI/UX, Frontend, Backend, and project management for all of these.

[2022-10-12 10:35] oEbuka commented on #2
Users should also be able to register in order to Log in. I would suggest we add this.
I would be working on this task, implementing REACT, Mongo DB , Node JS

[2022-10-12 10:37] okerekechinweotito commented on #2
@Kemmie001  Lets wait to receive some clarifications from the Mentor then we can arrange a meeting and properly plan and outline this

[2022-10-12 10:38] sandygudie commented on #2
Hello Team, While waiting on feedback from @BatoolMM
Please, Let's have a call by 5 PM WAT today( 9 AM PST)

[2022-10-12 10:38] RealRichi3 commented on #2
@sandygudie I suggest there should be different types of users

One would be an admin for uploading the OSCA videos
Then the normal user for just accessing the videos
The admin can also have other functionalities too

[2022-10-12 11:48] victorvictoria-maker commented on #2
I would join the meeting as I would like to contribute to it too

[2022-10-12 11:50] safa-ismail commented on #2
Will be joining the meeting too..

[2022-10-12 11:57] Dhei-vid commented on #2
so we agree we will be making use of MongoDB. I would like to work on the login and register pages so we could team up to do that.

[2022-10-12 12:19] ORIYOMI289 commented on #2
lets all wait for the meeting by 5pm then

[2022-10-12 12:25] BatoolMM commented on #3
Thank you @ORIYOMI289 for opening an issue!
Please can you make sure you use the issue template and have a clear description of the issue!

Thanks again!

[2022-10-12 12:27] BatoolMM commented on #4
@Teslimsama Thank you for openning an issue. Any issue that doesn't use our issue template will be removed. Can you re-edit the issue according to the template, please?

[2022-10-12 12:38] Teslimsama commented on #4
@BatoolMM I don't know the template

[2022-10-12 12:50] BatoolMM commented on #2
Thank you, @sandygudie, for creating a clear issue using the issue template - and thanks for everyone who joined this issue @Dhei-vid @Kemmie001 @AminMusah @ORIYOMI289 @okerekechinweotito @victorvictoria-maker @RealRichi3 @oEbuka @ladyami @safa-ismail @Teslimsama @codeinvoke7.

This is supposed to be a demo with a minimum landing page with the courses, sign-up/log-in page, and a Course page that h

[2022-10-12 12:53] ORIYOMI289 commented on #3
oh! where is the issue template ?

[2022-10-12 12:57] BatoolMM commented on #4
Any issue should have a clear description of what you are trying to do and a clear title, and a reference to other issues (if needed). I fixed the template, which you can access it when you click on the issues.

![Screenshot 2022-10-12 at 13 54 55](https://user-images.githubusercontent.com/53487593/195348288-41fcdc40-4f32-41c2-a2ee-400ac367305d.png)

let me know if you have any other question!

[2022-10-12 13:15] RealRichi3 commented on #2
@sandygudie let's use GitHub discussions for communicating instead

[2022-10-12 14:05] anslemkelechi commented on #2
Would be joining the meeting as i would like to contribute.

[2022-10-12 14:06] anslemkelechi commented on #2
I think i agree with this.

[2022-10-12 14:10] BatoolMM commented on #3
No worries, the issue template has been fixed, you should be presented with a template once you click on issue. Thank you again!

[2022-10-12 15:43] mufidat3250 commented on #2
I would Like to contribute to this project I have Knowledge of React and firebase i also want to ask if there is as existing design or we need to come up with design while implementing the UI

[2022-10-12 15:55] sandygudie commented on #2
Hello Team, meeting starts in 5mins

[2022-10-12 16:20] Kemmie001 commented on #1
@oEbuka a meeting is going on now here https://meet.google.com/zth-eoem-nnx
Also, the conversation is going on here https://github.com/Open-Science-Community-Saudi-Arabia/MOOCs/issues/2

[2022-10-12 17:26] Teslimsama commented on #4
Thanks

[2022-10-12 17:26] #4 closed

[2022-10-12 18:48] anslemkelechi commented on #2
Hi sandy,
Have you uploaded the link to the doc as discussed in the call?

If you have how can I get it, please?

[2022-10-12 18:52] anslemkelechi commented on #2
Seen it already ☺
Thanks

[2022-10-12 20:31] RealRichi3 opened #5 "[12/10/2022]: Backend API for OSCSA MOOCs platform"
#### Description

Open Science Community would like to develop Massive Open Online Courses (MOOCs), which are free online courses available for anyone to enroll in. We have developed our own materials and will also reuse materials from Open Life Sciences and Turing Way. In order to do that, we need to develop a platform where a participant can log in, and view videos and written materials as lesso

[2022-10-12 21:21] BatoolMM commented on #5
@RealRichi3 Please don't close the issue if the PR is note reviewed and merged!

If you closed other issues, please re-open it!

[2022-10-12 21:24] RealRichi3 commented on #5
Alright, i haven't completed the content of the issue that's why, but i understand you perfectly well

[2022-10-12 22:22] RealRichi3 commented on #2
@sandygudie have you contacted @BatoolMM regarding the branches we would need?

[2022-10-12 22:31] mildrette commented on #2
Hello everyone, Please I will love to contribute to this project too. please add me to it thank you.

[2022-10-12 22:38] RealRichi3 commented on #2
Sure, by tomorrow a list of tasks will be sent here, just pick anyone you feel you can handle

[2022-10-12 23:09] RealRichi3 commented on #2
@sandygudie i have made the issue for collaboration on the backend API here's the link #5.
Please remember to make the necessary update

[2022-10-13 00:35] Eshy10 commented on #2
Hi everyone, I would like to contribute to this project. How do I join looking forward to hearing from you guys. I am skilled in HTML, CSS, JavaScript, React, Nextjs, Vuejs, Ruby on Rails, Typegraphql.

[2022-10-13 01:21] anslemkelechi commented on #5
Awesome @RealRichi3.
Looking forward to collaborating here.
I would love to work on the authentication for the API, which will include all you listed above.

[2022-10-13 01:37] anslemkelechi opened #6 "[DATE]: Authentication Feature for OSCSA MOOCs platform"
### Description

I would be working on the authentication feature of the API,  this feature should contain the following functionalities according to the tasks listed below

### Tasks needed to be carried out?

- [ ] *Creating a user model based on the application needs*
- [ ] *Adding a signup route to the API*
- [ ] *Adding a login route to the API*
- [ ] *Implementing Statelessness Using JWT for

[2022-10-13 01:43] #6 closed

[2022-10-13 01:46] anslemkelechi opened #7 "[13-10-2022]: Authentication feature for OSCSA MOOCs platform"
#### Description

I would be working on the authentication feature of the API,  this feature should contain the following functionalities according to the tasks listed below

#### Tasks

- [ ] *Creating a user model based on the application needs*
- [ ] *Adding a signup route to the API*
- [ ] *Adding a login route to the API*
- [ ] *Implementing Statelessness Using JWT for sessions*
- [ ] *Adding

[2022-10-13 02:51] ORIYOMI289 opened #8 "[13-10-2022]: Course/Video feature for OSCSA Website"
#### Description

model and CRUD operation on the videos/courses

#### Task?

- [ ] *Database model for courses/videos*
- [ ] *Create/Upload Course (restricted to admin).*
- [ ] *Update course details (restricted to admin).*
- [ ] *Delete course (restricted to admin)*
- [ ] *Get all data for particular course (should include exercises if any)*
- [ ] *Get all available courses*

### Technology?

-

[2022-10-13 02:54] ORIYOMI289 commented on #5
#8 I will love to work on this issue

[2022-10-13 06:06] yukiyuli commented on #2
Hello everyone, I'm an Outreachy applicant. I'm interested in this project. I have knowledge of  HTML, CSS, JavaScript and vue.

[2022-10-13 06:26] sandygudie commented on #2
Thank You Team for yesterday's meeting, The information shared was insightful. Feel free to visit the [docs](https://docs.google.com/document/d/1S31oJKEVf-ywlTEDUf4dHDiUVmCbYWVYE1QbPScLFis/edit)
We were able to break down tasks in different areas(Design, Frontend, Backend) so that everyone can contribute.
Looking forward to the exciting work ahead!👏

[2022-10-13 07:13] sandygudie opened #9 "Frontend Development:OSCSA MOOCs Platform"
### Summary
Open Science Community would like to develop Massive Open Online Courses (MOOCs), which are free online courses available for anyone to enroll in. We have developed our own materials and will also reuse materials from Open Life Sciences and Turing Way. In order to do that, we need to develop a platform where a participant can log in, and view videos and written materials as lessons. Th

[2022-10-13 07:14] #9 closed

[2022-10-13 07:18] sandygudie opened #10 "[13/10/2022]: FRONTEND DEVELOPMENT FOR OSCSA MOOCs PLATFORM"
### Summary
Open Science Community would like to develop Massive Open Online Courses (MOOCs), which are free online courses available for anyone to enroll in. We have developed our own materials and will also reuse materials from Open Life Sciences and Turing Way. In order to do that, we need to develop a platform where a participant can log in, and view videos and written materials as lessons. Th

[2022-10-13 07:28] sandygudie opened #11 "[13/10/2022]: Design Template -OSCSA MOOCs Platform"
### Summary
Open Science Community would like to develop Massive Open Online Courses (MOOCs), which are free online courses available for anyone to enroll in. We have developed our own materials and will also reuse materials from Open Life Sciences and Turing Way. In order to do that, we need to develop a platform where a participant can log in, and view videos and written materials as lessons. Th

[2022-10-13 07:32] okerekechinweotito commented on #10
I will be working on the Header , Footer and Sign Up Page

[2022-10-13 07:32] mufidat3250 commented on #10
I would love to work on this issue

[2022-10-13 07:32] mufidat3250 commented on #10
i will be working on the landing page

[2022-10-13 07:40] mufidat3250 commented on #10
I am stuck on how to create sub issue Please i need more enlightenment

[2022-10-13 08:12] mildrette commented on #2
@sandygudie  please I will love to work on these tasks for the front-end
- Landing page
- Header
- Footer

[2022-10-13 08:31] safa-ismail commented on #2
@sandygudie  as per discussion will the issues be created for each areas today ??

[2022-10-13 09:09] Teslimsama commented on #10
@sandygudie Can we start

[2022-10-13 09:10] victorvictoria-maker commented on #10
@sandygudie, I would love to contribute to this project. Can I add a detailed README and also design the sign up, Course details page,  Profile page?

[2022-10-13 09:12] victorvictoria-maker commented on #10
@sandygudie, I would love to contribute to this project. Can I add a detailed README and also design the sign up, Course details page,  Profile page?

[2022-10-13 09:12] mufidat3250 commented on #10
we need do create the react app should i do the project set up at my end

[2022-10-13 09:22] sandygudie commented on #10
Thank you Team,
@mufidat3250 we need to finalize on how contributions(branch, PR, Review etc) would be made

[2022-10-13 09:23] oEbuka commented on #10
I will be working on Login, Sign up page, Reset Password, and Forgot Password pages.

[2022-10-13 09:28] sandygudie commented on #1
@BatoolMM Please can we have a branch for development?

[2022-10-13 09:29] sandygudie commented on #1
@mildrette do we have a  main branch for task 4?

[2022-10-13 09:29] oEbuka commented on #11
I designed a simple Landing page plus Log In ad Sign up pages for the MOOC project.  Here is the Link : [figma.com/file/mkhBuJAS2arzy3wrbTZp2D/Simple-Landing-page-for-OSCSA%2C-with-Log-In-and-Sign-Up-Pages?node-id=0%3A1](https://www.figma.com/file/mkhBuJAS2arzy3wrbTZp2D/Simple-Landing-page-for-OSCSA%2C-with-Log-In-and-Sign-Up-Pages?node-id=0%3A1)
@sandygudie

[2022-10-13 09:30] victorvictoria-maker commented on #10
@sandygudie, I would love to contribute to this project. Can I add a detailed README and also design the sign up, Course details page,  Profile page?

[2022-10-13 09:31] mildrette commented on #10
@sandygudie I would love to work on the Landing page
Header
Footer

[2022-10-13 09:34] Teslimsama commented on #10
@sandygudie  I would love to work on the history page

[2022-10-13 09:34] mildrette commented on #10
I think the we need to have a Main/Master branch,
a dev branch which all approve PR go first before they are send to the Main/Master
and everyone needs to create a personal branch with their respective names where the push their code before opening a PR

[2022-10-13 09:35] oEbuka commented on #1
I missed the meeting yesterday, is there a way I could get the briefing?

[2022-10-13 09:36] Teslimsama commented on #10
And is the template ready

[2022-10-13 09:36] Teslimsama commented on #10
I will this on

[2022-10-13 09:39] mildrette commented on #1
I am talking about the MOOCs Repo

[2022-10-13 09:39] sandygudie commented on #10
@mildrette I agree
Hopefully @BatoolMM or the mentors will create a dev branch for development

[2022-10-13 09:43] ladyami commented on #1
@mildrette  please can you guide me on how to do that thank you

[2022-10-13 09:44] mildrette commented on #10
@sandygudie  should I wait for approval of the task we pick or should I start working on them??

[2022-10-13 09:46] mufidat3250 commented on #10
[sandygudie](https://github.com/sandygudie) thanks for the response i want to also know if we will be working on the existing design before other screens are completed. and how do we get started.

[2022-10-13 09:49] sandygudie commented on #11
@oEbuka Thank you for starting this, we added some reviews on the Figma design, hope you get to adjust them but we can start with it.

[2022-10-13 09:50] sandygudie commented on #10
We start working on the existing designs

[2022-10-13 09:53] mildrette commented on #1
@ladyami i will send it in a bit

[2022-10-13 09:56] victorvictoria-maker commented on #10
Alright. We await approval

[2022-10-13 09:57] mufidat3250 commented on #10
alright

[2022-10-13 10:07] oEbuka commented on #11
I just did, added the Log In with Google.

[2022-10-13 10:13] ladyami commented on #1
@mildrette  okay thank you

[2022-10-13 10:24] mildrette commented on #1
step 1. Open your terminal and navigate to the Repo you are working on.

step 2. type *git status* to see the branch you are on at that moment.

step 3. type < git checkout -b *the name of the branch you are creating goes here*>
            example: git checkout -b mildrette
          Note:// this code has created your branch and to be sure still do [git status] to see the branch name.
step 4. go

[2022-10-13 10:38] RealRichi3 commented on #5
it'll be nice to pick one task so others can contribute

[2022-10-13 10:38] BatoolMM commented on #10
Thank you all for your work I created [a dev branch](https://github.com/Open-Science-Community-Saudi-Arabia/MOOCs/tree/dev) in case you would like to use it.

Looking forward to see your contributions!

[2022-10-13 10:38] RealRichi3 commented on #5
Plus i would have to setup the project structure first, but for now we cant do any thing until @BatoolMM approves our request to create a development branch for the backend

[2022-10-13 10:40] mildrette commented on #10
@BatoolMM we are waiting for your approval on the task we pick so we can start working on them

[2022-10-13 10:45] RealRichi3 commented on #5
A dev branch has been created for development, i would create a folder backend to  add all our code for the backend there

[2022-10-13 10:52] ladyami commented on #1
@mildrette please don't be angry let me explain my situation to you I created a folder on my local computer and used GitHub desktop to connect it to my GitHub and also commit so now how do I change the branch and how do I make I PR since I am the one who creates the folder? (because when I check the branch is main)

[2022-10-13 10:59] mildrette commented on #1
Okay. For you to be able to create a branch on the MOOCs Repo, You have to first clone it
to your machine
 then you can add the file you created to it. copy and paste into the clone file.

[2022-10-13 11:13] oEbuka commented on #5
@RealRichi3 Now the dev branch has been created, what's next?

[2022-10-13 12:30] Teslimsama commented on #11
@oEbuka how I can get the source code of this

[2022-10-13 12:45] anslemkelechi commented on #5
That wouldn't be an issue, if you want to contribute to #7, create a sub-issue from it and describe what you would be contributing, please add a reference to the parent issue #2

[2022-10-13 12:46] anslemkelechi commented on #5
Please I believe we would be use MVC @RealRichi3

[2022-10-13 13:16] Meekunn commented on #10
@sandygudie  I would love to set up Prettier/ESlint and work on the SignUp/SignIn Pages.
Also, you can add a FAQs page.

[2022-10-13 13:22] RealRichi3 commented on #5
Yea, i'm almost done with the project setup

[2022-10-13 13:29] Meekunn commented on #10
@mufidat3250 Should we wait for you to set up the react project? Or Can I go ahead with it? @sandygudie @BatoolMM

[2022-10-13 14:15] Meekunn opened #12 "[13/10/2022]: Setup Frontend for MOOC Platform"
#### Description
I would like to set up the Frontend for the OSCSA MOOC PLATFORM.
The parent Issue is #10

#### Which task are you working on?

- [ ] *Create React App in `dev` branch*
- [ ] *Task 1- Set Up Prettier/Eslint*

#### Who wants to work on this issue?
I would like to work on this issue @BatoolMM and follow updates on the parent issue

[2022-10-13 14:28] RealRichi3 opened #13 "[12/10/2022]: Backend API [task] - Setup Project structure"
Sub issue for tasks in #5

### Summary
Add project structure for BACKEND API for MOOCs platform

Should be like this
[code]
### What needs to be done?
- Setup express server
- Setup database connection
- MVC app structure

- [x] *Setup express server*
- [x] *Setup database connection.*
- [x] *Setup MVC app structure*

### Who want to work on this issue?
I would work on this issue

[2022-10-13 14:31] RealRichi3 commented on #5
I have set up the project structure, i'm waiting for @BatoolMM to merge into `dev` branch

[2022-10-13 15:03] anslemkelechi commented on #13
Awesome work @RealRichi3

[2022-10-13 15:06] mufidat3250 commented on #12
@Meekunn are you done creating it

[2022-10-13 15:27] victorvictoria-maker commented on #11
@sandygudie Can  I work on this? Write the HTML and CSS

[2022-10-13 16:11] Meekunn commented on #12
Yes, I'm about to create a PR @mufidat3250

[2022-10-13 16:32] Dhei-vid commented on #10
Have you started with the Login and signup pages? I want to work with you on that.

[2022-10-13 16:50] mildrette commented on #10
I have created a basic layout using Html and CSS for this task, I made a layout of the header and the footer,
should I push so it can be checked???

[2022-10-13 16:52] Meekunn commented on #10
@mildrette you can hold on while @BatoolMM reviews and merges the PR that sets up the React Project. Then update where necessary.

[2022-10-13 16:57] Dhei-vid commented on #10
Just to be clear yeah is this what we are forking for the project?

[2022-10-13 17:05] mildrette commented on #10
The dev branch is where you will open your PR too.
clone the MOOCs Repo directly. so that you can create your own branch. the dev branch is where all the approved PR will be merged before sending it to the main branch.

[2022-10-13 17:09] mufidat3250 opened #16 "[13-10-2022]: Folder structure and route of the front end project"
#### Description

I would like to  work on the folder structure  and route of the front end project
The parent Issue is https://github.com/Open-Science-Community-Saudi-Arabia/MOOCs/issues/10

#### Which task are you working on?

- [ ] *Header*
- [ ] *Footer*
- [ ] *Login page*
- [ ] *Sign Up page*
- [ ] *Reset Password*
- [ ] *Profile page*
- [ ] *History page*
- [ ] *Course Detail Page*
- [ ] *Se

[2022-10-13 17:14] Dhei-vid commented on #10
Thank you.

[2022-10-13 17:20] mildrette commented on #10
welcome

[2022-10-13 17:38] mildrette commented on #10
Thank YOU very much. i have seen it

[2022-10-13 19:43] BatoolMM commented on #16
Thank you @mufidat3250, let me know if you need anything from me!

[2022-10-13 19:45] BatoolMM commented on #12
Thank you, all for your hard work. I will close this issue now!

[2022-10-13 19:45] #12 closed

[2022-10-13 19:49] BatoolMM commented on #5
I commented in your PR, let me know if you need me to do anything else to help you!

[2022-10-13 19:51] BatoolMM commented on #8
Thank you @ORIYOMI289 for creating a very clear issue, let me know if you need anything from my side!

[2022-10-13 19:51] RealRichi3 commented on #2
Thanks @BatooIMM, if you will be available for the zoom sessions, we got some suggestions and questions concerning the branches for each proposal

[2022-10-13 19:52] sandygudie commented on #2
https://github.com/Open-Science-Community-Saudi-Arabia/MOOCs/issues/2#issuecomment-1278105762

Yes Please we hoping to discuss that tomorrow

[2022-10-13 19:52] RealRichi3 commented on #5
Thanks @BatoolMM

[2022-10-13 19:52] BatoolMM commented on #10
Thank you, all for your wonderful work, I merged your PR. Let me know if you need anything from me!

[2022-10-13 20:24] Meekunn commented on #16
@mufidat3250 I would like to collaborate with you on this issue. Which task are you currently working on and which can I work on?

[2022-10-13 20:47] oEbuka commented on #5
@RealRichi3 I am asking to be sure, your branch has not been merged yet right?

[2022-10-13 21:23] ladyami commented on #1
@mildrette  okay thank you

[2022-10-13 21:25] RealRichi3 commented on #5
@oEbuka Not yet, i will inform everyone when it's ready for development

[2022-10-13 21:28] sandygudie commented on #16
@mufidat3250 please can you pick a task to work on for this issue, not everything

[2022-10-13 21:50] mildrette commented on #1
your welcome

[2022-10-13 23:18] Eshy10 commented on #16
@mufidat3250 I would like to collaborate with you on this issue.

[2022-10-14 00:06] Teslimsama opened #18 "[14/10/22]: front-end design of history and settings page"
<h1>description</h1>
   <p>i would like to work on the front-end design for the history and settings</p>
   <h3>which task are you working on?</h3>
   <ul>
    <li>- [x] front end design of history page</li>
    <li>- [x] front end design of settings page</li>
   </ul>
   <h1>Who want to work on this issue?</h1>
   <p>I would like to be assigned this issue @BatoolMM and follow updates on this issu

[2022-10-14 00:07] Teslimsama commented on #18
@BatoolMM i would like to be assigned this task

[2022-10-14 01:28] GuddyTech commented on #2
Hello @sandygudie can I join the team to collaboratively achieve some of these tasks? Thanks

[2022-10-14 03:28] ORIYOMI289 commented on #8
@BatoolMM alright

[2022-10-14 03:31] ORIYOMI289 commented on #13
@RealRichi3 we will be waiting for you on this, before cloning the repo. hope it wont take long

[2022-10-14 03:32] ORIYOMI289 commented on #13
it seems like the structure is created, on what branch is it ?

[2022-10-14 05:07] RealRichi3 commented on #13
Sure, i think @BatoolMM would have a zoom session with us today, we need more clarification on how the branch for develop will be managed, regarding reviewing pull requests and some other issues. Once it's ready I'll let everyone know

[2022-10-14 06:01] sandygudie commented on #2
Yes sure @GuddyTech

[2022-10-14 08:50] mufidat3250 commented on #16
i am not working on all the task i am only creating a folder structure and the route so as to simplify things  for all of us that will be collaborating. in order to avoid mix up . so that all you need to do is to start working on task by following the existing format. @sandygudie. @Eshy10 @Meekunn

[2022-10-14 08:52] mufidat3250 commented on #16
Alright @BatoolMM

[2022-10-14 09:48] BatoolMM commented on #1
Hi Everyone, we were supposed to have a Zoom session for Q/As today at 12:10pm UTC, but we had to postpone it till Tuesday at the same time. This was outside our control, but we are happy to answer questions regarding anything, including dev branches, if you post them in the issue and tag either me or @alswajiab. We are also reviewing all your wonderful PRs. All of your contributions will be recor

[2022-10-14 09:59] BatoolMM commented on #13
@RealRichi3 https://github.com/Open-Science-Community-Saudi-Arabia/MOOCs/pull/14#issuecomment-1278773676

Let me and @alswajiab know if you need any support or help 🍀

[2022-10-14 10:17] Meekunn opened #19 "[14-10-2022]: Develop Header and Footer for MOOC App"
#### Description
Develop the Header and Footer section of the MOOC App referencing the Design template from issue #11.

#### Which task are you working on?

- [ ] *Develop Header.*
- [ ] *Develop Footer.*

### What needs to be done?

- [ ] *Develop Header and Footer Section*

### Who want to work on this issue?

Kindly assign to me, @BatoolMM. I want to work on this issue and follow up on updates

[2022-10-14 11:13] mufidat3250 commented on #16
@BatoolMM @Meekunn  I am done with the task  task but i am confuse of the branch i am to make a pull request against is it the dev branch or the main branch

[2022-10-14 11:15] sandygudie commented on #16
We are using the `dev_team2` branch

[2022-10-14 11:48] sandygudie opened #20 "[14/10/2022]: Frontend Project Structure setup/dev_team2 branch"
### DESCRIPTION
Inline with the of the OSCSA MOOCs platform and the ongoing collaboration in the [FRONTEND](https://github.com/Open-Science-Community-Saudi-Arabia/MOOCs/issues/10) development is for :
Setting up Frontend project structure for `dev_team2` branch.

**Project Structure**
[code]

### What needs to be done?
- Create a Frontend Folder in the root folder.
- Add Vitejs React project to th

[2022-10-14 12:23] RealRichi3 commented on #5
@oEbuka @anslemkelechi @ORIYOMI289 you all can start making contributions, the project structure has been added, we would be working with the `dev_team2` branch

[2022-10-14 12:27] mufidat3250 commented on #19
i would like to collaborate with you on this issue how   do we get started

[2022-10-14 12:36] anslemkelechi commented on #5
@RealRichi3
Thanks for the progress

[2022-10-14 12:55] mufidat3250 opened #23 "[DATE]: QUESTION or ISSUE"
#### Description

I would like to work on the Button, input component and signup page  from Design Template from issue  https://github.com/Open-Science-Community-Saudi-Arabia/MOOCs/issues/11

#### Which task are you working on?

- [ ] *Input Component.*
- [ ] *button Component.*
- [ ] *Sign Up page.*

### What needs to be done?
- [ ] *Develop reusable  input and button component*
- [ ] *develop th

[2022-10-14 12:56] sandygudie commented on #11
We are using Reactjs for Development

[2022-10-14 13:56] oEbuka commented on #5
Thanks

[2022-10-14 14:16] okerekechinweotito opened #24 "[14/10/2022]: Create a Login Page and Sign Up Page (dev_team2 branch)"
Corresponding PR at #31
#### Description

Create a Login Page and Sign Up Page as illustrated in this [Design](https://www.figma.com/file/mkhBuJAS2arzy3wrbTZp2D/Simple-Landing-page-for-OSCSA%2C-with-Log-In-and-Sign-Up-Pages?node-id=1%3A2). This  issue was derived from #10  and is for dev_team2 branch

#### Which task are you working on?

- [ ]  Create a Login Page
- [ ]  Create a Sign Up Page

###

[2022-10-14 15:28] ladyami commented on #2
@sandygudie is there a UI for this project?

[2022-10-14 15:42] sandygudie commented on #2
@ladyami, UI is in development, some pages are pending [Issue](https://github.com/Open-Science-Community-Saudi-Arabia/MOOCs/issues/11)

[2022-10-14 15:43] ladyami commented on #10
most of the pages mentioned above are not in the design

[2022-10-14 15:44] ladyami commented on #10
can I redesign it?

[2022-10-14 15:48] ladyami commented on #2
@sandygudie can I design the pending pages if so what pages are pending? and also in development what task is available?

[2022-10-14 16:01] sandygudie commented on #10
Yes sure @ladyami

[2022-10-14 16:06] yukiyuli commented on #2
Is there anything I can contribute? I have knowledge of HTML, CSS, JavaScript, and Vue.

[2022-10-14 16:10] ladyami opened #26 "10/14/2022 Create Admin dashboard and Profile page For MOOCS"
#### Description
Create a Admin dashboard and profile Pages as illustrated in this [Design](https://www.figma.com/file/mkhBuJAS2arzy3wrbTZp2D/Simple-Landing-page-for-OSCSA%2C-with-Log-In-and-Sign-Up-Pages?node-id=1%3A2). This issue was derived from https://github.com/Open-Science-Community-Saudi-Arabia/MOOCs/issues/10 and is for dev_team2 branch

#### Which task are you working on?

- [ ] *Create

[2022-10-14 16:17] ladyami opened #27 "[10/14/2022]: SETTING PAGES"
#### Description
Create a Login Page and Forgot Password Page as illustrated in this [Design](https://www.figma.com/file/mkhBuJAS2arzy3wrbTZp2D/Simple-Landing-page-for-OSCSA%2C-with-Log-In-and-Sign-Up-Pages?node-id=1%3A2). This issue was derived from https://github.com/Open-Science-Community-Saudi-Arabia/MOOCs/issues/10 and is for dev_team2 branch

- [ ] *Create a setting page*

#### Which task ar

[2022-10-14 16:21] ladyami commented on #2
@sandygudie  Okay I will work on it thank you

[2022-10-14 17:00] Eshy10 opened #28 "[14-10-2022]: Course Detail Page"
#### Description

- [ ] *Create a Course Detail Page*

#### Which task are you working on?

- [ ] *Create Course Detail Page.

### What needs to be done?

- [ ] *Use React to render the UI for the page*

### Who wants to work on this issue?

I want to be assigned to this task @BatoolMM

[2022-10-14 17:44] ladyami commented on #2
@oEbuka  I don't need to make another design I thought you stop working on that is why I want to pick it up let use yours

[2022-10-14 18:23] Meekunn commented on #19
@mufidat3250, I will suggest we wait for the PR on the Frontend Project Structure for the new branch to be merged. Let me know if you think we can go ahead without that.

[2022-10-14 18:25] safa-ismail commented on #11
Can I work on designing the use profile page ?

[2022-10-14 18:30] ladyami commented on #2
@oEbuka can you please send me the link to the Figma design because the one I see does not have a setting page admin dashboard and profile page

[2022-10-14 20:57] Tammy-Ajoko commented on #1
@sandygudie i am up for collaboration, i am front end developer

[2022-10-14 21:44] ORIYOMI289 commented on #5
@RealRichi3 do we need to create our own branch when we want to push, or we should push directly to dev_team2 ?

[2022-10-14 22:17] RealRichi3 commented on #5
You should create a different branch, the make pull request from your branch to the dev_team2 branch?

[2022-10-15 07:36] Dhei-vid opened #29 "Creating a Sign Up Page for MOOC (dev_team2 branch)"
### Summary

Creating a Sign Up Page from this [design](https://www.figma.com/file/mkhBuJAS2arzy3wrbTZp2D/Simple-Landing-page-for-OSCSA%2C-with-Log-In-and-Sign-Up-Pages). This issue addresses [#10](https://github.com/Open-Science-Community-Saudi-Arabia/MOOCs/issues/10) and references  #24. And is to be handled in dev_team2 branch.

### What tasks should be worked on

- [ ] Create a Sign Up page

#

[2022-10-15 07:47] Dhei-vid commented on #29
@BatoolMM I'd like this to be assigned to me

[2022-10-15 08:50] okerekechinweotito commented on #29
@Dhei-vid  This is already been addressed in #24

[2022-10-15 08:54] RealRichi3 commented on #13
Alright thanks

[2022-10-15 09:02] BatoolMM commented on #29
@Dhei-vid Thank you for opening this issue. If it was already addressed, can you close this one, please?

[2022-10-15 09:10] ladyami commented on #27
@BatoolMM I can't find this page on the design can I Come up with a design or the designer will create them?

[2022-10-15 09:13] ladyami commented on #26
@BatoolMM  I can't find the pages in this design

[2022-10-15 09:14] RealRichi3 commented on #5
I would like to work on the Database Models

[2022-10-15 09:26] RealRichi3 opened #30 "[15/10/2022]: Backend development [feat] - User and Admin Database Models"
Sub issue for #5
### Summary
User and Admin database schemas and models

[code]

### What needs to be done?
- [x] *Add schema models for end users*
- [x] *Add schema models for admins*

### Who want to work on this issue?
I would like to work on this issue

[2022-10-15 09:44] BatoolMM commented on #27
Yes but you need to create a PR in this repo

[2022-10-15 09:48] anslemkelechi commented on #5
Hi @RealRichi3

Since you are working on the user model, probably I should pause till you are done before I work on the authentication since its based on the user model, or what do you think?

[2022-10-15 09:50] #24 closed

[2022-10-15 09:53] ladyami commented on #27
@okay ma

[2022-10-15 10:08] RealRichi3 commented on #5
True

[2022-10-15 10:08] RealRichi3 commented on #5
@anslemkelechi i just completed the user models including the models for password, once it's merged you can continue

[2022-10-15 10:09] RealRichi3 commented on #5
I had something in mind, for every new endpoint or feature created, we should create a unit test for it, so future updates won't break previous code

[2022-10-15 10:10] anslemkelechi commented on #5
@RealRichi3
Okay, I will keep my head up, thanks.

[2022-10-15 10:12] anslemkelechi commented on #5
Okay
That's great, I would keep that in mind.
Your model will reflect that right?

[2022-10-15 10:12] RealRichi3 commented on #5
@anslemkelechi the PR for the models has been merged, you can begin now, I would like to work on the course/videos features

[2022-10-15 10:12] RealRichi3 commented on #5
I haven't added the test yet, only the models, i'll work on that later on

[2022-10-15 10:13] RealRichi3 commented on #5
For the authentication are you working on everything?

[2022-10-15 10:14] RealRichi3 commented on #5
And to implement permissions, i think it would cut accross all routes, it can be something like a router middle ware to verify if a user is allowed to access a specific route, what do you thing?

[2022-10-15 10:17] #30 closed

[2022-10-15 10:18] anslemkelechi commented on #5
@RealRichi3

That's exactly what I have in mind, a router middleware to protect all restricted routes.

[2022-10-15 10:18] anslemkelechi commented on #5
@RealRichi3

That's exactly what I have in mind, a router middleware to protect all restricted routes.

[2022-10-15 10:18] #13 closed

[2022-10-15 10:20] anslemkelechi commented on #5
For now, I would, nobody has expressed a desire to work on other parts of it, I did ask that if anyone wants to contribute to it they can create a sub-issue out of this #7

[2022-10-15 10:21] mufidat3250 commented on #19
sure we can since it is already @BatoolMM  has already assigned the issue.  what have you worked on and how can i come in

[2022-10-15 10:21] RealRichi3 commented on #5
You can pick the task to implement permissions

[2022-10-15 10:23] RealRichi3 commented on #5
I would like to work on the async_wrappers and error handlers, can be used to abstract trycatch in all controllers

[2022-10-15 10:24] RealRichi3 commented on #7
@anslemkelechi i already merged the models here #30, you can check it out if you got something to add

[2022-10-15 10:26] anslemkelechi commented on #5
@RealRichi3
Okay, that would be fine, for now, I am working on the login and signup routes(Pending when your PR is merged for the user model), once I am done I can progress to another task on after the other.

[2022-10-15 10:28] RealRichi3 commented on #5
Alright, all add your name now

[2022-10-15 10:36] RealRichi3 opened #33 "[15/10/2022]: Backend API [task] - Async wrappers and Error handlers"
Sub issue for #5

#### Description
Backend API for MOOCs platform, i intend to add asynchronous wrappers and error handlers. This will abstract the try catch block used in wrapping controllers for all routes.

The `async_wrappers` be implemented this way
[code]
Should be able to pass errors caught to the `error handler` middleware
#### Which task are you working on?
- [x] *Add Asynchronous functio

[2022-10-15 11:04] oEbuka commented on #5
@RealRichi3 could you please check my PR, I worked on the DB models. Can you also assign me to the Course/Video feature tasks.

[2022-10-15 11:26] RealRichi3 commented on #5
Please if you want to work on any task, signify here first so i'll know who has claimed it

[2022-10-15 11:29] mufidat3250 commented on #20
@sandygudie  if i get you right, i  have to clone the  dev_team2 branch since that's the team i want to work with?

[2022-10-15 11:29] RealRichi3 commented on #5
@anslemkelechi @oEbuka @ORIYOMI289 please when creating an issue for any of these tasks, reference this main issue so we can easily keep track of who has claimed a task and who's working on each task

[2022-10-15 11:39] RealRichi3 commented on #5
@oEbuka for the course and video feature, which particular task would you like to work on first, Is it creating the models?
You can pick any so i'll assign it to you

[2022-10-15 11:42] RealRichi3 commented on #33
@BatoolMM please review

[2022-10-15 11:48] oEbuka commented on #5
My bad, my bad.

[2022-10-15 11:49] RealRichi3 commented on #33
Thanks @BatoolMM

[2022-10-15 11:49] #33 closed

[2022-10-15 11:50] oEbuka commented on #5
Yes, I will like to be assigned that task.

[2022-10-15 12:22] RealRichi3 commented on #5
Alright @oEbuka, go ahead and create an issue for it

[2022-10-15 12:52] sandygudie commented on #20
Yes

[2022-10-15 13:22] oEbuka commented on #5
You have a already created a issue for it here or isn't it going to be a duplicate?

[2022-10-15 13:30] oEbuka opened #35 "[15/10/2022]: Backend API Course/Video Database Models."
Backend API Course/Video Database Models.
### Summary

Create the database models for Course/Video and also added a model for Categories which was not in the initial template.

### What needs to be done?

- [x] Models created using mongoose( MongoDB ).
- [x] Model created for Course/Video.
- [x] Category model also added and created.

### Who want to work on this issue?

@BatoolMM  I will like to

[2022-10-15 13:32] RealRichi3 commented on #5
Perfect

[2022-10-15 13:34] RealRichi3 commented on #5
@oEbuka when you're done with the models, you can claim another task? Ensure to tag me in the PR so I'll review

[2022-10-15 13:36] oEbuka commented on #5
Thanks a lot, I appreciate.

[2022-10-15 13:38] RealRichi3 commented on #5
@oEbuka when you're done with the models for the course, I'd like to work on the `create/upload course` function

[2022-10-15 13:46] oEbuka commented on #5
It seems I can't tag you on my PR. Only the member of OSCSA.

[2022-10-15 13:48] oEbuka commented on #5
@RealRichi3  I'd like to be assigned to the update and delete course feature when you are done.

[2022-10-15 13:56] RealRichi3 commented on #5
Then reference this issue, the PR will appear here

[2022-10-15 14:03] oEbuka commented on #5
done

[2022-10-15 14:07] RealRichi3 commented on #5
When you're done with your current task, you can claim the next one

[2022-10-15 14:21] mufidat3250 opened #36 "[15/10/2022]: Implement the landing page for MOOCs (dev_team2)"
#### Description

Implement the landing page illustrated in the design.  as stated in issue https://github.com/Open-Science-Community-Saudi-Arabia/MOOCs/issues/10 and https://github.com/Open-Science-Community-Saudi-Arabia/MOOCs/issues/11

#### Which task are you working on?

- [ ] *Landing Page*

### What needs to be done?

- [ ] *hero section of the landing page*
- [ ] *Course component*
- [ ] *C

[2022-10-15 15:44] RealRichi3 commented on #5
@oEbuka  Please edit the title so it'll match this format
`[Date] Backend API [feat] - your title`

[2022-10-15 15:46] mufidat3250 commented on #19
@Meekunn  it seams the pull request has being merged

[2022-10-15 16:59] Meekunn commented on #19
@mufidat3250 Yes, it has been merged. YOu can take up the footer while I work on the header. Don't forget to consider responsiveness.

[2022-10-15 17:19] RealRichi3 commented on #5
@anslemkelechi
In my opinion, i think for each task it'll be better to create only one sub issue of this main issue, chaining too many issues might make it difficult to track progress.
What do you think?

[2022-10-15 17:35] anslemkelechi commented on #5
It's okay that way.
I will edit my issue to reflect the sub-issue I am working on exactly

[2022-10-15 17:37] anslemkelechi commented on #5
@RealRichi3
Hi, I would love to know why you created a special model for passwords and connected it to the user model with virtual properties, why do we not have everything pertaining to the user kept directly in the user model to avoid unnecessary complexities?
I would love to know why you did it this way though.

[2022-10-15 19:12] ladyami commented on #11
@oEbuka  My Figma name is Amina Oyegoke

[2022-10-15 19:22] ORIYOMI289 commented on #8
pls i need the figma design for this project

[2022-10-15 19:22] ORIYOMI289 commented on #5
pls i need the figma design for this project

[2022-10-15 19:39] ORIYOMI289 commented on #5
@RealRichi3 @BatoolMM the dev_team2 branch I cloned doesnt have backend folder like it does on github, what do you think the problem is ?

[2022-10-15 19:43] #29 closed

[2022-10-15 19:45] anslemkelechi commented on #5
That's because by default github will clone the main branch, you will need to specify the branch you want to clone. Use this instead
$ git clone -b dev_team2 <git url>

Clear enough?

[2022-10-15 20:17] GuddyTech commented on #2
@sandygudie can any task be assigned to me I know HTML, CSS and React. Can we also have a slack channel or discord to enable us interact more on the tasks and how to run them. A google meet would also be appreciated. Thanks in anticipation.

[2022-10-15 20:40] mildrette commented on #16
hey everyone please so far which are the task taking here ???

[2022-10-15 21:14] RealRichi3 commented on #5
I did it that way so that when fetching users data, we won't mistakenly add the users password. I just don't want to take any chances

[2022-10-15 21:15] RealRichi3 commented on #5
Perfect, please one task at a time tho, so others can contribute

[2022-10-15 21:16] RealRichi3 commented on #5
Please ask in the front end issue here #10

[2022-10-15 23:00] anslemkelechi commented on #5
It's was kind of complex though, I did some refactoring. We can handle the issue of fetching user data by setting "select property to false" in the schema. When I make the PR you would be able to compare.

[2022-10-15 23:54] RealRichi3 commented on #5
Alright then

[2022-10-16 01:36] ORIYOMI289 commented on #10
@sandygudie the dev_team2 branch I cloned doesnt have backend folder like it does on github, what do you think the problem is ?

[2022-10-16 01:42] ORIYOMI289 commented on #10
please share the figma design link

[2022-10-16 11:37] RealRichi3 commented on #5
I'd like to work on the router middleware for permissions

[2022-10-16 11:39] RealRichi3 commented on #5
I think it'll be nice to add more features to improve the API, but maybe after we're done with these tasks. What do you guys think

[2022-10-16 12:08] RealRichi3 commented on #5
@anslemkelechi for the login control, will you issue something like an access_token after successful login, i need to know so i'll know how to implement the authentication middleware

[2022-10-16 14:23] oEbuka commented on #11
You can now edit.

[2022-10-16 14:54] Teslimsama commented on #11
@oEbuka is it possible for you send to me in the code

[2022-10-16 15:14] oEbuka commented on #11
This is just a design, not an actual site. It does not have a source code yet.

[2022-10-16 15:15] oEbuka commented on #5
you can merge now.

[2022-10-16 16:54] Rubadel commented on #1
I would also like to join for Task 4.. Is there anyone working on it currently to join with, or Can I start alone? Plz let me know ..

[2022-10-16 17:10] Rubadel commented on #2
I also want to join with for this task, plz could you let me know about your working now?
I have a well plan and a good experience for technology for this task ..

[2022-10-16 17:46] Rubadel commented on #11
Hello everyone, I will work on the "Forgot Password", "Categories ( List of available courses)" pages .. My name in Sigma is Ruba Adel

[2022-10-16 19:38] anslemkelechi commented on #5
Yes @RealRichi3, I would!

[2022-10-16 22:36] anslemkelechi commented on #5
Hi @RealRichi3,
PR #38 for the authentication feature has been made, please review and merge.

[2022-10-16 23:07] Lilianada commented on #1
@Dhei-vid @ladyami @BatoolMM  Hello everyone, I saw that Github discussion is where the discussions for task 4 is been held. I'd like to contribute to this task and would like to know what the current progress is and how I can be of help. Thanks in advance

[2022-10-16 23:17] sandygudie commented on #10
@ORIYOMI289 , hope you have resolves this?

[2022-10-17 00:43] RealRichi3 commented on #5
Alright

[2022-10-17 01:00] RealRichi3 commented on #5
Alright

[2022-10-17 06:40] sandygudie commented on #1
@Rubadel @Lilianada check the issues for Task 4 proposal

[2022-10-17 08:05] sandygudie opened #40 "[17/10/2022]: Frontend MOOCs:Removed not needed packages."
### Summary
FRONTEND DEVELOPMENT FOR THE MOOCS PLATFORM: dev_team2 branch
The last PR merged was not reviewed, some packages not needed were installed. This PR is a work around in ensuring the project is in order as planned.

### Fixes #
Remove material UI styling library and it's component files
Remove package.json.lock , we using Yarn for Package Manager

[2022-10-17 08:49] RealRichi3 opened #41 "[17/10/2022]: Backend API [feat] - Authentication middleware"
Sub issue for #5
#### Description
Creating an Express Authentication middleware to verify users authorization for requests restricted to logged in accounts

### Usage
[code]

### What needs to be done?

- [x] *Add cookie parser*
- [x] *Add authentication middle ware*

### Who want to work on this issue?
I would like to work on this isssue

[2022-10-17 08:57] mufidat3250 commented on #19
Alright i will look into it

[2022-10-17 09:00] mufidat3250 commented on #19
@Meekunn pls i want to ask that how do you add image to your PR i mean the a screenshot of the work done.

[2022-10-17 09:08] Meekunn commented on #19
@mufidat3250 I use the drag and drop option. You can also copy the image and paste it in the comment box.

[2022-10-17 10:15] Eshy10 commented on #27
hi, @ladyami do you have access to the design? I am working on the course details page.

[2022-10-17 10:35] mufidat3250 commented on #19
@Meekunn i will try it out thanks

[2022-10-17 10:46] mufidat3250 commented on #19
@Meekunn how about the number of task  i noticed  some  issue has 3 task while some have 1 task, how do they keep track of it when making a pull request.

[2022-10-17 11:07] oEbuka commented on #11
Access granted.

[2022-10-17 13:39] anslemkelechi opened #42 "[17-10-2022]: Authentication Feature: Password Reset"
#### Description

- [x] *Password Reset.*
- [ ] *Email Verification to complete signup.*

#### Which task are you working on?

- [x] *Send reset token via email to user*
- [ ] *Reset Password*
- [x] *Save new password in database*

### Who want to work on this issue?

I would work on this issue
Parent Issue: #5

[2022-10-17 13:40] anslemkelechi commented on #5
I would love to work on the task of email verification and password reset

[2022-10-17 15:14] anslemkelechi commented on #5
@RealRichi3
Please can you update this issue, so it can reflect the tasks that has be done.

[2022-10-17 15:25] RealRichi3 commented on #5
Thanks for the contribution so far tho

[2022-10-17 15:56] anslemkelechi commented on #5
I actually selected it that way because the tasks are related to each other, anyway I would rename my issue and stick with one at first.

[2022-10-17 15:58] anslemkelechi commented on #5
I would work on the password reset functionality #42
@RealRichi3

[2022-10-17 18:20] RealRichi3 commented on #5
Oh, alright then

[2022-10-17 19:47] RealRichi3 commented on #5
I'd like to work on the router level permission middleware

[2022-10-17 20:57] oEbuka commented on #5
@RealRichi3 I would like to work on Create/Upload Course.

[2022-10-17 21:13] RealRichi3 opened #45 "[17/10/2022]: Backend API [feat] - Role based permissions router middleware"
Sub issue from #5

#### Description
Implement an express middleware for managing role based access control

### Usage
[code]

#### Which task are you working on?
- [x] *Add RBAC permissions handler middleware*

### Who want to work on this issue?
I would like to work on this issue

[2022-10-17 21:40] RealRichi3 commented on #5
Sure, once @BatoolMM merges your inital PR you can start working on it, i'll reserve it for you tho

[2022-10-17 21:41] RealRichi3 commented on #5
btw, @BatoolMM @anslemkelechi @oEbuka are there other features you think would be nice to add to the API, aside what's already outlined

[2022-10-17 21:44] RealRichi3 commented on #5
I'd work on the Google signin feature

[2022-10-17 23:39] oEbuka commented on #11
@BatoolMM @sandygudie  I just completed the design for the My Courses page and Course page here :
 https://www.figma.com/file/mkhBuJAS2arzy3wrbTZp2D/Simple-Landing-page-for-OSCSA%2C-with-Log-In-and-Sign-Up-Pages?node-id=0%3A1

[2022-10-18 03:14] ORIYOMI289 commented on #8
@BatoolMM pls assign this issue to me

[2022-10-18 03:19] ORIYOMI289 commented on #5
@RealRichi3 @BatoolMM  why are the pr not merged? I am working on course or video API, but I noticed someone has created a model for it, but it hasn't been merged.

@oEbuka pls can you stop working on video/course related ? I already created an issue on it, and I am working on it

[2022-10-18 10:16] RealRichi3 commented on #5
@ORIYOMI289 before creating a sub issue for any task, please claim it here first so we all know you're the one handling it. Currently @oEbuka already claimed the create/upload task, you can pick any other one.

[2022-10-18 10:34] ladyami commented on #1
@BatoolMM  will the meeting be held Today?

[2022-10-18 13:03] Tammy-Ajoko commented on #5
Is anyone working on the front end part of this, I would like to work on it @RealRichi3

[2022-10-18 13:05] #45 closed

[2022-10-18 13:05] #41 closed

[2022-10-18 13:07] RealRichi3 commented on #5
@Tammy-Ajoko yes, you can check here #10

[2022-10-18 13:58] okerekechinweotito commented on #1
@ladyami  Please did you attend the meeting? what was the summary

[2022-10-18 14:34] Mublin commented on #1
quick review of how the task should be done, some mistakes to avoid and corrections, explanation of some tasks and also appreciation of work

[2022-10-18 14:52] RealRichi3 opened #48 "[18/10/2022]: Backend API [feat] - Social signin with Google"
Sub issue for #5

#### Description
Social signin feature with google

#### Which task are you working on?
- [ ] *Add social signin feature with Google*

### Who want to work on this issue?

[2022-10-18 15:25] RealRichi3 commented on #5
I'd work on unit tests, will be updated with each new feature

[2022-10-18 16:49] RealRichi3 opened #50 "[18/10/2022]: Backend API [feat] - Auth unit tests"
Sub issue #5

#### Description
Unit tests for backend API. Should test the different Authentication routes and features of the API and also account for all possible response and errors. Should include signup, login, verify email, password reset, permission handler, authentication middleware for post login verification

### What needs to be done?
Add
- [x] *Database connection test*
- [x] *Express

[2022-10-18 18:15] BatoolMM commented on #1
For anyone who couldn't join the meeting, this is the [Slides](https://docs.google.com/presentation/d/1FsIJQBNnmAa5afUMGXoQ0xvTaSF7aSSCmHz_W8jeTn4/edit#slide=id.g162b4a8e627_0_2) we used during the meeting.

Let me know if you have any questions!

[2022-10-18 19:01] Lilianada commented on #1
Hello @BatoolMM , thanks for posting the slides, I have gone through them, I have a question. What is the way forward now? What is the next line of action based on the tasks to be worked on?

[2022-10-18 20:05] okerekechinweotito commented on #1
@Mublin please I would like to have a chat with you. How can I reach you? Send me your mail or whatsapp

[2022-10-18 22:49] anslemkelechi commented on #5
@oEbuka
Hi, I would love to know if you are done with the create & updating course model, as i would love to work on the get access to all course and all data for a particular course.

[2022-10-19 00:36] okerekechinweotito commented on #10
@sandygudie   Update the checkboxes to appear checked just like they did here #5 .  So we would know which issues have been completed and which ones are free to be picked

[2022-10-19 05:14] ORIYOMI289 commented on #5
@anslemkelechi @oEbuka I am already workin on delete course and get access to all course.

between ebuka. I created an issue on create course here #8  i guess it wasn't assigned to me. besides I am already working on it

[2022-10-19 05:18] ORIYOMI289 opened #51 "[19-10-2022]: get all courses and delete course"
### Summary

*I will be working on get access to all course by all user, and delete course by admin.*

### What needs to be done?

- [ ] *get access to all course.*
- [ ] *delete course.*

### Who want to work on this issue?

I will be working on this issue #5

[2022-10-19 05:30] ORIYOMI289 commented on #5
@anslemkelechi  @BatoolMM @oEbuka @RealRichi3 I am working on get all courses and delete course by admin #51 , pls assign the issue to me

[2022-10-19 07:32] ladyami commented on #1
hello @okerekechinweotito no   i did not get the link

[2022-10-19 07:48] ORIYOMI289 commented on #5
@RealRichi3 I am trying to raise a pr now, but i keep on getting the error ""ERROR: Permission to Open-Science-Community-Saudi-Arabia/MOOCs.git denied to ORIYOMI289.
fatal: Could not read from remote repository.""

[2022-10-19 08:55] RealRichi3 commented on #5
Please pick one task at a time, I'll assign the get all courses to you

[2022-10-19 08:56] RealRichi3 commented on #5
Have you created a fork of this repository?

[2022-10-19 11:07] jesutobi opened #52 "[DATE]: OSCSA/MOOCs landing page"
@BatoolMM @alswajiab i would be working on the landing page of the MOOC in this issue, the landing page would consist of

- navigation bar
- hero section
- testimonial section
- recommended videos section
- recommended learning material section
- benefits of the platform
- footer

ALl these would be built with Vue.js and bootstrap

[2022-10-19 11:28] BatoolMM commented on #2
Thank you to everyone for their amazing work 🌷, @sandygudie can you update the main issue by adding more details about the progress by referencing PRs? Also, make sure you reference PRs and issues by their number, not as markdown syntax as I fixed the ones in the "DEVELOPMENT PROCESS". Let me know if this is not clear!

[2022-10-19 11:32] okerekechinweotito commented on #52
@jesutobi   We decided to use React and plain CSS for the App

[2022-10-19 11:34] BatoolMM commented on #5
Thank you, everyone, for the brilliant work 🌷.
Just a few comments:
1- Can you @RealRichi3 reference the PRs in the main issue similar to Open-Science-Community-Saudi-Arabia/OSCSA_Website#172. I see that you referenced only the issue so far.
2- Can you add `ready to review` tag for any PR you reviewed?

Again, thank you all for your hard work!

[2022-10-19 11:38] jesutobi commented on #52
The intro into this task by the mentors didnt state a particular framework

[2022-10-19 11:40] jesutobi commented on #52
did the mentors mandate this

[2022-10-19 11:43] okerekechinweotito commented on #52
@jesutobi
we formed a team to work on it and we have decided to use React.
If you decide to work with the Team (dev_team2) then you'll have to use React.

If you want to build the App alone or maybe form another team then you are free to use whichever technology you like.

Let me know if you need more clarification

[2022-10-19 11:46] jesutobi commented on #52
okay , thanks

[2022-10-19 12:00] okerekechinweotito commented on #52
@jesutobi alright

[2022-10-19 12:32] Teslimsama commented on #2
het @BatoolMM  i just want to confirm which branch are going to pull requests for

[2022-10-19 12:46] BatoolMM commented on #1
Welcome @Lilianada, in this repo, you can either:
1- Look at issue #5 and complete one of the tasks there.
2- Start documentation about what the repo, add CONTRIBUTING.md or enrich the README file.

Let me if you still not sure where to start!

[2022-10-19 13:17] sandygudie commented on #2
@BatoolMM Please review the main issue update, is it in line with what you have in mind?
I will update the Backend PRs when @RealRichi3 updates the Backend issue

[2022-10-19 13:34] AbeerTannous commented on #1
Hi , if you still accept Outreachy applicants , I would like to contribute, Which task should I work on?

[2022-10-19 16:56] AminMusah opened #64 "Spelling and Grammatical errors on the MOOCs/CONTRIBUTING.md"
Summary
At the top section of the contribution.md, there are a few grammatical errors and missing punctuations.

We welcome all contributions to the Open Science Community in Saudi Arabia. The contribution can be a [issue report](https://github.com/Open-Science-Community-Saudi-Arabia/Open-Science-Community-in-Saudi/issues) or a [pull request](https://github.com/Open-Science-Community-Saudi-Arabia/

[2022-10-19 18:02] RealRichi3 commented on #5
@BatoolMM how do i add the ready for review tag

[2022-10-19 18:03] RealRichi3 commented on #5
Alright I'll review it

[2022-10-19 18:13] BatoolMM commented on #5
You should be able to add a label from the right, let me know if you can't access it.
<img width="415" alt="Screenshot 2022-10-19 at 19 11 18" src="https://user-images.githubusercontent.com/53487593/196771233-6d60e670-af60-419e-8026-5165e16154ac.png">

I also granted you review rights, so you can review PRs in this repo. Let me know if you have any difficulties!

[2022-10-19 18:16] RealRichi3 commented on #5
I can't access it, this is what it shows

![image](https://user-images.githubusercontent.com/76791916/196772045-7bfe2671-32a8-46b5-8655-a2138ab9b30b.png)

[2022-10-19 18:19] BatoolMM commented on #2
I love the update you added @sandygudie.
@Teslimsama I belive `dev_team2` but it depends on what you will do, @sandygudie can let you know.

[2022-10-19 18:22] BatoolMM commented on #5
I gave you write access this morning but the invite is still pending!

[2022-10-19 18:26] BatoolMM commented on #7
If this issue has been addressed, can we close this issue?

[2022-10-19 18:26] BatoolMM commented on #48
If this issue has been addressed, can we close this issue?

[2022-10-19 18:29] RealRichi3 commented on #5
I just accepted the invite

[2022-10-19 18:35] RealRichi3 commented on #5
@BatoolMM after adding the tag, should i go ahead to merge, or should i leave it for you to handle?

[2022-10-19 18:56] BatoolMM commented on #5
@RealRichi3 Feel free to review and merge the PR associated with your main issue for `drv_team2` branch!

[2022-10-19 19:00] BatoolMM commented on #3
@ORIYOMI289 I was wondering if this issue id duplicated and if you can close it, please? Thanks!

[2022-10-19 19:14] #48 closed

[2022-10-20 01:20] RealRichi3 commented on #5
@BatoolMM alright

[2022-10-20 08:17] JesperKawuma commented on #10
Hello @sandygudie, can you please direct me to the project repo you working on. I can't find it

[2022-10-20 08:20] sandygudie commented on #10
Hi @JesperKawuma here is the link to the branch   https://github.com/Open-Science-Community-Saudi-Arabia/MOOCs/tree/dev_team2

[2022-10-20 08:42] JesperKawuma commented on #10
Got it, thanks @sandygudie

[2022-10-20 08:57] #35 closed

[2022-10-20 09:04] JesperKawuma commented on #11
Hello @sandygudie  @oEbuka and @BatoolMM,  is this the verified design so that we can go on and implement it?

[2022-10-20 09:41] sandygudie commented on #11
@JesperKawuma it’s a sample design to start with, feel free to improve the UI

[2022-10-20 11:36] ladyami commented on #11
Hello, Good day, Ma @BatoolMM I am sorry I was unable to participate for some days because I was sick can I continue the task you assign to me from where I stop please the meeting is recorded or how do I get the recap ma please thank you.

[2022-10-20 13:08] adetyaz commented on #52
@okerekechinweotito I know how to use react, I'd like to join the team

[2022-10-20 15:09] JulianaSau commented on #10
Hi, I'd like to work on setting up prettier, eslint and automating it using prettier and husky

[2022-10-20 15:33] Tammy-Ajoko commented on #10
@sandygudie  I'd like to Set up color variables and type for the project to ensure color consistency.

[2022-10-20 15:54] JulianaSau opened #66 "[20/10/2022]: Set up Husky and Lint-staged"
#### Description

- *Automate linting and formatting using husky and lint-staged packages*
- *This will ensure that a strict code style is enforced and reduce the bugs or coding errors that may arise as a result of several contributors working on the same codebase*
- *The parent issue is #10*

#### Which task are you working on?

- *Automating linting and code formatting using husky and lint stage

[2022-10-20 17:09] JesperKawuma commented on #11
Actuallly @sandygudie, I know nothing of Designs. That's why I was eager for confirmation such that I can begin implementation

[2022-10-20 19:50] okerekechinweotito commented on #52
@adetyaz  Welcome ! Pick a task from #10  and make a PR.

[2022-10-20 23:07] JulianaSau opened #70 "[21/10/2022]: Add a detailed README .md file to the dev_team2 branch"
#### Description

- *Update the README.md to include important information*

#### Which task are you working on?

- [ ] *Addresses one of the tasks stipulate in issue #10 *

### What needs to be done?

- [ ] *Update the README with relevant information to new contributors*
- [ ] *Update the readme to include important information about the repository*

### Who want to work on this issue?

I would

[2022-10-21 09:00] adetyaz commented on #52
@okerekechinweotito thanks

[2022-10-21 09:12] adetyaz commented on #10
@sandygudie @BatoolMM @okerekechinweotito I want to work Categories ( List of available courses)
Dashboard,  can it be assigned to me to avoid conflicts with someone else.

[2022-10-21 09:34] okerekechinweotito commented on #10
@adetyaz   sure , No-one else is working on it. please go ahead and make an issue

[2022-10-21 09:36] adetyaz commented on #10
Alright thanks @okerekechinweotito

[2022-10-21 09:36] adetyaz commented on #10
Alright thanks @okerekechinweotito

[2022-10-21 09:45] adetyaz opened #73 "[21-10-2022]: Add Categories ( List of available courses) Dashboard page"
Description

- Create Categories dashboard
- on the Dashboard, show list of available courses

### What needs to be done?

- [x] Create page in relation to the provided design

### Who want to work on this issue?
I will be working on this issue

[2022-10-21 09:49] #66 closed

[2022-10-21 11:31] ladyami commented on #10
@adetyaz  I am working on it check the issues

[2022-10-21 11:37] adetyaz commented on #10
@ladyami since you're working on two page can i work on one while you work on the other?

[2022-10-21 12:56] ladyami commented on #10
@adetyaz  can you please work on the profile card instead? because I am about to finish the dashboard if you don't understand what I mean by profile card please let me know so I can direct you on where to get ideas to make one.

[2022-10-21 12:58] adetyaz commented on #10
Alright then, direct me to the profile cards or profile page.

Let me see the ideas @ladyami

[2022-10-21 13:06] ladyami commented on #10
@adetyaz when you search on google "Profile card UI design Ideas" you will get a lot to give you ideas is just like when a teacher clicks on a student's name a card pop up that tells little info about the student or student click teachers name or the Admin can also see both student and teachers info I hope you get me?

[2022-10-21 13:08] adetyaz commented on #10
alright , I'll do that and tailor it to the figma design provided to get it to fit

@ladyami thanks

[2022-10-21 23:19] Cadeau1 commented on #10
@sandygudie @BatoolMM @okerekechinweotito Please I'd like to work on the Reset Password and Forgot Password. Can it be assigned to me?

[2022-10-21 23:38] okerekechinweotito commented on #10
@Cadeau1  please go ahead and create an issue for it

[2022-10-21 23:57] Cadeau1 commented on #10
Okay. Thanks

[2022-10-22 01:37] Lilianada commented on #1
Thank you @BatoolMM I have gone through #5 but it is for Backend and I am a Frontend developer.

[2022-10-22 04:09] JesperKawuma opened #75 "[DATE]: Toggle show password state management"
#### Description

A user should be able to see password input on clicking the eye-icon. The password should also be hidden when a user clicks on the icon again

### Who want to work on this issue?
I am working on this issue

[2022-10-22 12:09] oEbuka commented on #11
Access granted

[2022-10-22 17:39] Cadeau1 opened #77 "[22-10-2022]: Develop Reset password and Forgot password for MOOC PLATFORM"
#### Description
Develop the Reset and Forgot password page for the MOOC App

#### Which task are you working on?

- [ ] Develop Reset password.
- [ ] Develop Forgot password.

### What needs to be done?

- [ ] Create a reset password page.
- [ ] Create a forgot password page.

### Who wants to work on this issue?
I would like to work on this issue.

[2022-10-22 19:53] ORIYOMI289 commented on #5
@RealRichi3 pls check my pr

[2022-10-22 23:37] RealRichi3 commented on #5
@ORIYOMI289 i have reviewed and merged it

[2022-10-23 10:02] RealRichi3 commented on #1
@Lilianada check #10

[2022-10-23 14:35] Tammy-Ajoko opened #82 "23/10/2022]: Set up color variables and types to ensure color consistency"
#### Description

 - Set up color variables and color types.
 - This will ensure color consistency.
 - The parent issue is #10 .

#### Which task are you working on?

- *Setting up color variables and color types*

### What needs to be done?

- [x] *Get all colors*
- [x] *Create CSS variables*
- [x] *Name variables*

### Who want to work on this issue?
I would like to work and be assigned to this

[2022-10-23 20:41] RealRichi3 commented on #5
@oEbuka what's the update on the `create/upload course` feature

[2022-10-23 22:50] okerekechinweotito commented on #70
@JulianaSau  Please what is the update on this issue ?

[2022-10-24 00:25] oEbuka opened #85 "[NEGLECT]: Create/Upload Course (restricted to admin)."
Sub Issue : https://github.com/Open-Science-Community-Saudi-Arabia/MOOCs/issues/5#issue-1406773854
### Summary

Only Admins can create and upload courses.

### What needs to be done?

- [ ] Create/Upload Course (restricted to Admin).

### Who want to work on this issue?
Assigned to me by @RealRichi3

[2022-10-24 00:29] oEbuka opened #86 "[24/10/2022]: Create/Upload Course (restricted to admin)."
Sub Issue : https://github.com/Open-Science-Community-Saudi-Arabia/MOOCs/issues/5#issue-1406773854
### Summary

Only Admins can create and upload courses.

### What needs to be done?

- [x] Create/Upload Course (restricted to Admin).

### Who want to work on this issue?
Assigned to me by @RealRichi3

[2022-10-24 00:52] RealRichi3 commented on #5
@oEbuka  Nice one, you can close the first issue if it was a mistake

[2022-10-24 01:57] #85 closed

[2022-10-24 03:02] oEbuka commented on #86
@RealRichi3 I made changes, added, committed and then pushed to github. I am not seeing a PR on github for reasons unknown to me.
Also I made a new branch for this task. Are you familiar with this type of issue?

[2022-10-24 07:13] #7 closed

[2022-10-24 14:36] RealRichi3 commented on #5
Did you create a separate branch for this feature?

[2022-10-24 15:17] oEbuka commented on #5
Yes

[2022-10-24 21:00] RealRichi3 commented on #5
You mean the model wasn't reflecting? I think you worked on the model, i was referring to the create/upload course controller not the model

[2022-10-24 21:05] RealRichi3 commented on #86
When did you make the PR?

[2022-10-24 21:07] RealRichi3 commented on #86
@oEbuka if your referring to  PR for the models #25, it has been merged already

[2022-10-25 02:50] #51 closed

[2022-10-25 02:51] #42 closed

[2022-10-25 03:13] ORIYOMI289 commented on #5
@BatoolMM @RealRichi3 pls, I am trying to record my contribution for this project , pls what will I insert in the "contribution url" ?

[2022-10-25 03:30] RealRichi3 commented on #5
@ORIYOMI289  If you your contribution is a pull request add the url to the pull request, same thing if your contribution is an issue

[2022-10-25 07:45] oEbuka commented on #5
I didn't work on the model. I worked on the create/upload course controller. After I did, then pushed to the branch, the MOOCs repo didn't recognize the change so I can't create a pr.

[2022-10-25 08:37] oEbuka commented on #86
Good day, I wasn't referring to this. Thanks.
When I try to push to upstream, I'm restricted.
When I push to origin it's says my branch is behind. So I pull, it shows the additions, but when I commit it shows there's 'nothing to commit', then when I push again it's still says the branch is behind.

[2022-10-25 09:05] ORIYOMI289 commented on #5
@RealRichi3 @BatoolMM I also noticed some people were added to the list of contributors. But, I wasn't added

[2022-10-25 09:51] RealRichi3 commented on #86
First, you can't push to upstream because you have no permission. Try synchronizing `dev_team2` branch on the forked repository in your GitHub account. Then pull again

[2022-10-25 10:15] BatoolMM commented on #5
@ORIYOMI289 Sorr, can you share the PR you have submitted and merged but not added you as a contributor in the README and will add you!

[2022-10-25 14:17] Tammy-Ajoko commented on #10
@sandygudie  I'd like to work on the course details page

[2022-10-25 16:54] ORIYOMI289 commented on #5
[My merged pr](https://github.com/Open-Science-Community-Saudi-Arabia/MOOCs/pull/62) @BatoolMM

[2022-10-25 21:05] JulianaSau commented on #70
Hi @okerekechinweotito , I'm submitting a PR in a few minutes

[2022-10-25 21:36] okerekechinweotito commented on #70
@JulianaSau alright

[2022-10-25 22:00] JulianaSau commented on #11
Thanks

[2022-10-25 23:13] #86 closed

[2022-10-25 23:41] RealRichi3 opened #91 "[26/10/2022]: Backend API [feat] - Email verification"
Sub issue from #5

#### Description
User email verification feature for backend API

#### Which task are you working on?
- [ ] *Send email verification link to users email*
- [ ] *Handle email verification*

[2022-10-26 03:23] RealRichi3 commented on #5
I think we missed the `exercises` feature, each course should have exercises attached to them. I'll add this to the tasks. Feel free to claim it if you can handle it

[2022-10-26 09:46] #18 closed

[2022-10-26 21:25] #91 closed

[2022-10-26 21:32] RealRichi3 opened #93 "Database model for course exercises"

[2022-10-26 22:10] RealRichi3 commented on #93
@BatoolMM for the exercises attached to the courses, will they be in form of quizzes with multiple options?

[2022-10-27 02:48] RealRichi3 opened #95 "[27/10/2022] Backend API [feat] - Update course"
Sub issue from #5

#### Description
Add `update course` feature, this feature should only be accessible to admins.

#### Which task are you working on?
- [x] *Update course feature*

[2022-10-27 04:12] RealRichi3 opened #98 "[27/10/2022] Backend API [feat] - CRUD for questions"
Sub issue from #5

#### Description
Add Create, read, update and delete features for Course questions

#### Which task are you working on?
- [x] *Create question*
- [x] *Get questions*
- [x] *Update question*
- [x] *Delete question*
- [x] *Grade users answers*

[2022-10-27 04:24] RealRichi3 opened #99 "[27/10/2022] Backend API [feat] - CRUD operations for Videos"
Sub issue from #5

### Summary
Add CRUD operation features for videos to backend API for MOOCs platform

### List of changes proposed in this PR (pull-request)
Add routes and controllers for
* *Add upload video feature*
* *Add update video feature*
* *Add get videos data for single video*
* *Add get all videos*
* *Add delete video*

[2022-10-27 04:43] #95 closed

[2022-10-27 05:07] #99 closed

[2022-10-27 05:13] RealRichi3 opened #101 "[27/10/2022] Backend API [feat] - CRUD for course exercises"
Sub issue from #5

#### Description
Add Create, read, update and delete features for course exercises

#### Which task are you working on?
- [x] *Create exercise*
- [x] *Get exercise*
- [x] *Update exercise*
- [x] *Delete exercise*
- [x] *Add question to exercise*
- [x] *Remove question from exercise*

[2022-10-27 19:15] BatoolMM commented on #5
@ORIYOMI289 you are added to the contributors, let us know if we missed any of your names!

[2022-10-27 20:10] RealRichi3 opened #102 "[27/10/2022]: Backend API [feat] - Get data for course"
Sub issue from #5

#### Description
Update Get request for course data to include more possible queries

### What needs to be done?
Add features for
- [ ] Get data for particular course - req.body._id = video_id
- [ ] Get data for all course - req.body._id = null
- [ ] Get videos for a particular course - req.body.course_id = course_id
- [ ] Get all videos - req.body = null

[2022-10-27 20:21] #102 closed

[2022-10-28 20:10] #50 closed

[2022-10-28 21:26] #101 closed

[2022-10-28 21:32] RealRichi3 commented on #1
@BatoolMM , for the backend API, i still have many features to implement, and i might not be able to wrap it up before the deadline for Outreachy application. Is it okay if i continue working on it even after the contribution phase?

[2022-10-29 13:08] BatoolMM commented on #1
Hi @RealRichi3, of course, you are a member of OSCSA, and you are **very welcome** to continue to work on any of these issues after the contribution phase. My I suggest that you attempt to deploy what you have developed so far in free service (e.g. Netlify) and focus on submitting a PR for brief documentation for future contributors, so it is easier for new contributors to contribute to your work.

[2022-10-29 13:57] anslemkelechi commented on #5
Hi @RealRichi3,
I would love to work on the API documentation, whilst the contribution stage is rounding up soon, I think it's wise we have some documentation for the current API built & we can improve on it even after the contribution stage is over.

[2022-10-29 16:42] RealRichi3 commented on #1
Thanks @BatoolMM, i appreciate that

[2022-10-29 16:46] RealRichi3 commented on #5
Sure, some of the endpoints I added, I haven't tested them, i already created some tests for the authentication, you can use that to get more insight on what should be included in the API documentation.

I already started working on the Postman API documentation but not much work done yet, i can send it to you so you continue from where i stopped.

Please go ahead and create an issue for it.

[2022-10-29 16:46] RealRichi3 commented on #5
I'll try to deploy the API on google cloud platform or any free hosting service, we'll be using it for testing

[2022-10-29 18:28] anslemkelechi opened #105 "[29-10-2022]: API DOCUMENTATION"
#### Description

- [x] *API Documentation for API endpoints.*

#### Which task are you working on?

- [x] *Use Postman to test endpoints*
- [x] *Write documentation in postman*

### Who want to work on this issue?

I would be working on this issue.

Parent Issue : #5

[2022-10-29 18:30] anslemkelechi commented on #5
@RealRichi3 , issue has been created here : #105

[2022-10-29 21:53] RealRichi3 commented on #5
@anslemkelechi thanks, do you need the part of the doc i already made so you can continue from there

[2022-10-29 22:29] #98 closed

[2022-10-31 19:15] RealRichi3 opened #107 "[31/10/2022] Backend API [feat] - Enroll course"
Sub issue from #5

#### Description
Each user should be able to enroll for a course, and the user should be able to get the list of courses enrolled.
The course schema should also have a way to get the list of users that enrolled.
It'll be like a  one to many relationship from the courses to the users
Users should also be able to cancel their enrollment

### What needs to be done?
- [ ] *Add enrol

[2022-10-31 20:01] RealRichi3 opened #108 "[31/10/2022] Backend API [bug] - Failed authentication unit test"
#### Description
When running the unit test for the Authentication controls and routes it shows
![image](https://user-images.githubusercontent.com/76791916/199099468-174563f5-e97a-46d0-aff8-4f6976976d8d.png)

### What needs to be done?
- [x] *Fix broken unit test for authentication*

[2022-10-31 20:03] #108 closed

[2022-11-01 11:10] anslemkelechi commented on #5
Hi @RealRichi3, sorry for the slight delay in communication, yes I would need the doc.

[2022-11-01 22:40] #107 closed

[2022-11-01 22:41] RealRichi3 commented on #5
@anslemkelechi alright, i'll send it

[2022-11-01 22:59] RealRichi3 commented on #105
@anslemkelechi i have added the initial API doc i made, it only covers the Authentication routes, you can check `/backend_API/src/API doc`

[2022-11-01 23:00] RealRichi3 commented on #5
@anslemkelechi i have added the initial API doc i made, it only covers the Authentication routes, you can check `/backend_API/src/API doc`

[2022-11-02 00:34] RealRichi3 commented on #1
@BatoolMM ,
![image](https://user-images.githubusercontent.com/76791916/199367121-0616e71d-ed75-4e2b-a96a-933700f9459c.png)
Please, the timeline of work they are referring to here, does it include everything we were to work on during this contribution phase, or is it just for the future internship phase.
If it's for the internship phase, please how can i get it?

[2022-11-02 14:31] sandygudie commented on #1
@RealRichi3
see this discussion
https://github.com/orgs/Open-Science-Community-Saudi-Arabia/discussions/52?#discussioncomment-4018202

[2022-11-03 18:35] RealRichi3 commented on #5
@anslemkelechi what's the update on the API documentation

[2022-11-03 18:38] RealRichi3 commented on #1
@BatoolMM  I'll deploy the API for test soon, still working on some endpoints

[2022-11-03 18:42] RealRichi3 commented on #1
@BatoolMM i was thinking of deploying to Google cloud platform, there are other options like heroku and render but they are a bit slow, since it's for testing is it okay if i use my personal google account to deploy it on GCP?

[2022-11-03 18:59] sandygudie commented on #1
@RealRichi3 I could start testing with postman, do you have a documentation for the endpoint?
I could set that up too

[2022-11-03 22:00] RealRichi3 commented on #1
@sandygudie, only the API doc for authentication is ready, buy @anslemkelechi is working on the documentation for other endpoints

[2022-11-04 05:24] sandygudie commented on #1
Alright @RealRichi3
@BatoolMM some PR for the frontend development are yet to be merged, I dropped a comment here

[2022-11-05 18:10] RealRichi3 opened #113 "[05/11/2022] Backend API test deployment"
#### Description
Deploy API to any cloud platform for test for test

I'll go for Google cloud platform.

### What needs to be done?
- [x] *Deploy API to google cloud platform*
- https://moocs-test.onrender.com
- [x] *Update API host link*

[2022-11-07 00:26] RealRichi3 commented on #113
I tried using GCP but i had issues setting up a free tier account so i switched to Render

[2022-11-07 00:40] RealRichi3 opened #114 "[07/11/2022] Missing Import error while deploying API"
Sub issue from #113

#### Description
While trying to deploy the backend API on render, it displayed a `MODULE NOT FOUND` error, i think its concerning a missing `cloudinary` module

![image](https://user-images.githubusercontent.com/76791916/200204763-98fcf352-871d-42fb-900c-c581b03a9d38.png)

### What needs to be done / Possible fix
- [x] *Update package.json to include cloudinary.*

[2022-11-08 10:17] #114 closed

[2022-11-08 10:20] RealRichi3 commented on #1
@BatoolMM i have deployed the API for testing. I created an issue for it here #113, here's the link https://moocs-test.onrender.com

[2022-11-08 10:48] BatoolMM commented on #113
Thank you @RealRichi3 but the link doesn’t work!

[2022-11-08 14:21] RealRichi3 commented on #113
@BatoolMM should i also host the front end app?

[2022-11-08 14:29] RealRichi3 commented on #105
@anslemkelechi what's the update on this

[2022-11-09 09:23] sandygudie commented on #113
@RealRichi3 the API is not connected to the frontend yet, so it can not be tested from there. I suggest you share the PostMan UI doc for the APIs where sample data can be used for testing. you could also use Swagger UI, but Postman UI is also great.

[2022-11-09 15:56] RealRichi3 commented on #113
@sandygudie I already added the API documentation for the authentication routes you can check [here](https://github.com/Open-Science-Community-Saudi-Arabia/MOOCs/blob/9f3a5b959ecfb9ab8aeddaa8cff2e74e9e61c32c/backend_API/src/API%20doc/MOOCs.postman_collection.json)

It's in JSON format, so you can import it to postman

[2022-11-09 16:33] RealRichi3 opened #116 "[09/11/2022] - Backend API description - Authentication"
#### Description

Open Science Community would like to develop Massive Open Online Courses (MOOCs), which are free online courses available for anyone to enroll in. We have developed our own materials and will also reuse materials from Open Life Sciences and Turing Way. In order to do that, we need to develop a platform where a participant can log in, and view videos and written materials as lesso

[2022-11-09 16:53] RealRichi3 commented on #1
@BatoolMM, you said something about the for the API plan description, i think you meant i should explain how i intend to implement all the features for the API for MOOCs platform, i have one question tho.

Should i create only one issue for the description?,

I already started creating separate issues to explain how i intend to implement each feature. This would be one issue per feature. After tha

[2022-11-09 22:03] BatoolMM commented on #113
@sandygudie @RealRichi3 I think you should host the front-end app, feel free to merge the PRs related to the front end after getting reviewed. https://moocs-test.onrender.com doesn't work. Let me know if you need any help in merging the PRs in the `dev_team2` branch.

[2022-11-09 22:11] BatoolMM commented on #1
@sandygudie Thank you for the note, I merged the PR.
@RealRichi3 Thank you for creating the issue about the API plan description. It looks good to me but what I meant is a documentation for the future developer in `CONTRIBUTING.md` showing the structure of the files/scripts, what each one supposes to serve and how new contributors should navigate the codebase. Let me know if this is not clear!

[2022-11-09 23:51] RealRichi3 commented on #1
Thanks @BatoolMM , just to be clear, do you mean i should explain how the project is structured in terms of how the folders are organized and also explain the purpose of the folders.
For example `utils` i should say it's used to store files which their functions that are frequently imported
Then outline how contributions should be made and what areas contributions should be made to.

Is this what

[2022-11-09 23:54] RealRichi3 commented on #113
Alright @BatoolMM

[2022-11-10 05:07] sandygudie commented on #113
Yes @RealRichi3 i will host the frontend

[2022-11-10 05:37] sandygudie commented on #1
@BatoolMM Thank you for the merge privilege.🙌

@realRichi3 my thoughts
Add a `CONTRIBUTING.md` file just like a `README.md` file to the backend folder, the `CONTRIBUTING.md` file would explain how to
- run/ set up the backend project,
- the project structure,
-  explain each file and what it does,
- the tools/technology used in the project,
- how to contribute to the project(cloning, issues, creat

[2022-11-10 07:24] RealRichi3 commented on #1
Thanks @sandygudie, i get it now

[2022-11-10 11:53] #19 closed

[2022-11-10 12:01] sandygudie commented on #1
@BatoolMM @RealRichi3
The frontend deployment link :https://oscsa-moocs.netlify.app/

[2022-11-10 12:17] BatoolMM commented on #1
This is fantastic, thank you @sandygudie. Can we link both the backend and front end and deploy them in the same app? right now, the backend doesn't seem to be working at all.

[2022-11-10 13:37] RealRichi3 commented on #1
I already hosted the Backend API on render, and it works fine when making requests from postman, You can import the postman JSON from here then read the documentation https://github.com/Open-Science-Community-Saudi-Arabia/MOOCs/blob/560c2941548f49b11196c3ee4fe70bdd81357664/backend_API/src/API%20doc/MOOCs.postman_collection.json

[2022-11-10 13:40] RealRichi3 commented on #1
@BatoolMM @sandygudie, here's a sample request i sent to the backend API using postman.

![image](https://user-images.githubusercontent.com/76791916/201106635-05ea1344-87d2-4503-9bf4-1378fc8885f8.png)

it works fine

[2022-11-10 13:45] RealRichi3 commented on #1
@sandygudie i just published the API doc here, please check it out https://documenter.getpostman.com/view/20633788/2s8YemuZwv

[2022-11-10 13:47] sandygudie commented on #1
Awesome @RealRichi3
i will a bit of testing from my end

[2022-11-12 20:19] RealRichi3 opened #118 "[12/11/2022]: PROJECT DESCRIPTION / CONTRIBUTION GUIDE"
#### Description
Update the CONTRIBUTION.md to include
- Contribution steps and format
- Setup backend project locally
- Template for Pull requests and issues
- Project structure
- Tools and technology used
- Existing API's
- Reference to project tasks

[2022-11-17 22:57] #82 closed

[2022-11-17 23:00] #70 closed

[2022-11-18 02:48] RealRichi3 commented on #1
@BatoolMM considering #2 is the only significant proposal for the MOOC platform demo, does this mean it won't remain at just being a demo? Then you can review and more contributions will be made to make it full scale

[2022-11-18 16:38] RealRichi3 commented on #1
@sandygudie, what's the update on linking the front end to the endpoints for authentication, have you been able to do it?

[2022-11-18 21:42] sandygudie commented on #1
i

[2022-11-19 03:15] RealRichi3 commented on #1
@sandygudie  Alright then, the backend API is complete, once you're ready to start using the other endpoints, let me know so i can update the API doc

[2022-11-19 22:10] anslemkelechi commented on #1
@RealRichi3

Can you share access to the API doc, so I can contribute also.

[2022-11-21 03:16] RealRichi3 commented on #1
@anslemkelechi
What's your postman email address?

[2022-11-21 10:06] anslemkelechi commented on #1
Hi @RealRichi3
It's kelechi.webdev@gmail.com

[2022-11-21 15:04] sandygudie opened #120 "[21/11/2022]: Sign up page Authentication"
Description
- Add Sign up page authentication and validation for the MOOCs API
- Ensure Error handling

### Who want to work on this issue?
@sandygudie

[2022-11-21 16:06] sandygudie opened #122 "[20/11/2022]: Fix netlify page routing issues"
Description
The internal pages of the deployed link(  login and sign-up pages) shows error on page reload, also the pages cannot be accessed with a direct URL

![image](https://user-images.githubusercontent.com/54219127/203102175-df3569cc-55eb-4116-ab94-66a9f1075b2a.png)

[2022-11-21 23:08] sandygudie opened #124 "[22/11/2022]: Login Page Authentication and Validation"
Description
- To add Authentication  and validation on the login page based on the MOOCs API
- Error handling included

[2022-11-22 22:42] RealRichi3 commented on #1
@anslemkelechi alright, i'll send you an invite

[2022-11-22 22:44] RealRichi3 commented on #1
@anslemkelechi i just sent you an invite, please check your mail

[2022-11-23 01:24] anslemkelechi commented on #1
Thanks @anslemkelechi
I got it.

[2022-11-23 10:03] RealRichi3 commented on #1
@BatoolMM, thanks for the opportunity to contribute to this project.
I have a question, for the internship programme, aside the contributions is there anything else you'd like us to do?

[2022-11-23 10:11] BatoolMM commented on #1
Thank you all for your hard work and amazing contributions 🙇🏽 . The Community coordinator will follow up with an email for all of you and congratulations to the selected interns 🌷

@RealRichi3 Yes, we will follow up with more details about the tasks you will complete in the internship.

[2022-11-23 11:43] Thesaleem commented on #1
Congratulations to @sandygudie and @RealRichi3. Very well deserved, I know you guys are going to deliver excellently. Thanks to @BatoolMM for the opportunity to contribute to this project. I hope to make more significant contributions. Welldone guys. 💪🏾💪🏾

[2022-11-23 15:51] RealRichi3 commented on #1
Alright, @BatoolMM

[2022-11-23 15:51] RealRichi3 commented on #1
Thanks @Thesaleem

[2022-11-23 16:01] sandygudie commented on #1
Thank you🙌

[2022-11-24 22:17] RealRichi3 commented on #1
@BatoolMM, you said something about a follow up on the tasks we need to do, please when should we be expecting it?

[2022-11-24 22:18] RealRichi3 commented on #124
@sandygudie, please are you done with the AUTH?

[2022-11-25 04:55] sandygudie commented on #124
I am on it

[2022-11-28 09:23] #122 closed

[2022-11-28 09:29] sandygudie opened #126 "[28/11/2022]: Forgot password Feature"
Description
- Add Route and API for forgot password
- Add a UI page
-  include authentication and validation
- Response and Error handling included

[2022-11-28 11:32] sandygudie opened #128 "[28/11/2022]: Feature :Reset password"
Description

Add Route and API for reset password
Add a UI page
include authentication and validation
Response and Error handling included

[2022-11-28 11:33] #120 closed

[2022-11-28 11:34] #124 closed

[2022-11-28 15:44] sandygudie opened #130 "[28/11/2022]: Refactor CSS"
Description
The project is using plain CSS for styling but it's becoming difficult to trace classes and most classes are conflicting with each other. On that note , I suggest using Sass which will reduce most of the issues in the CSS

[2022-11-29 09:44] #130 closed

[2022-11-29 18:29] RealRichi3 opened #133 "[29/11/2022] - Change Password reset authentication flow"
#### Description

- Change the authentication flow for forgotpassword and passwordreset flow.
- Instead of sending URL link with embedded token, send a short term access token to the front end.
- The email sent to the user should only contain a 6 digit code..

/forgotpassword request should be called before the /passwordreset route.
### /forgotpassword
- Generate 6 digit password reset code, send

[2022-11-30 11:34] sandygudie opened #135 "[30/11/2022]: Google signin Feature"
Description
- Add a google sign in feature.

[2022-11-30 16:52] RealRichi3 commented on #1
@sandygudie, i have updated the auth flow for password reset, i also added another route to get logged in users data.
You can check the API documentation for the reset update.
Here's the PR #133

[2022-11-30 17:34] sandygudie commented on #1
Alright, I will look into it